@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #0F0C1F, #0c0729, #291435, #4f3161, #1b4b4b );
}

/* Barra de pesquisa */
input {
    font-family: "Roboto", sans-serif;
    width: 80%; /* Ajuste responsivo */
    max-width: 400px; /* Tamanho máximo */
    height: 25px;
    font-size: 15px;
}

/* Cabeçalho */
header {
    background: linear-gradient(135deg , #000000, #1b1b1b, #363636 );
    background-size: 300% 300%;
    animation: spreadGradient 12s infinite linear;
    color: white;
    width: 100%;
    padding: 20px 0 60px 0;
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}

/* Navegação dentro do header */
.search {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    border: 1px solid #ccc;
    background-color: #00000006;
    width: 80%; /* Ajuste para largura responsiva */
    max-width: 600px; /* Tamanho máximo */
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
}

#search {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: #fff;
}

.search label {
    height: 25px;
}

/* Estilização do menu lateral */
aside {
    width: 250px;
    height: 100vh;
    background: linear-gradient(135deg , #0F0C1F, #0c0729, #291435, #4f3161);
    background-size: 300% 300%;
    animation: spreadGradient 12s infinite linear;
    color: white;
    position: fixed;
    left: -300px; /* Começa escondido */
    top: 0;
    transition: left 0.5s ease;
    padding: 20px;
    z-index: 1000; /* Garante que o menu fique sobre outros elementos */
}

/* Classe para mostrar o menu */
.show-menu {
    left: 0;
}

/* Botão para abrir o menu */
.menu-button {
    position: fixed;
    top: 35px;
    left: 30px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    background: linear-gradient(135deg , #0F0C1F, #0c0729, #291435, #4f3161);
    background-size: 300% 300%;
    animation: spreadGradient 12s infinite linear;
}

/* Botão de fechar */
.close-button {
    background: red;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 5px;
}

/* Estilizando os links do menu */
aside nav ol li a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    color: black;
    text-align: center;
    transition: color 1.0s ease-in-out;
    margin-top: 20px;
}

/* Criando o efeito de preenchimento diagonal */
aside nav ol li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transform: scale(0);
    transform-origin: top left; /* O efeito começa no canto inferior direito */
    transition: transform 1s ease-in-out;
}

/* Quando passa o mouse, a cor sobe na diagonal */
aside nav ol li a:hover::before {
    transform: scale(1);
    transform-origin: bottom right; /* O efeito termina no canto superior esquerdo */
}

/* Mantendo o texto visível */
aside nav ol li a span {
    position: relative;
    color: black;
}

/* Mudança na cor do texto ao passar o mouse */
aside nav ol li a:hover span {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Conteúdo principal */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* Ajuste responsivo */
    grid-template-rows: auto;  /* Define que as linhas terão altura automática */
    gap: 20px; /* Espaçamento entre as colunas e linhas */
    width: 80%;
    background-color: #101010;
    color: white;
    padding: 20px;
    margin: 60px 0 40px 0;
    border-radius: 10px;
    box-shadow: #fff 0 -5px 20px;
}

/* Artigo */
article {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #3e342b;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

figure {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    width: 40%;
    height: 40%;
    filter: drop-shadow(8px 5px 4px #000000);
}

/* Seções */
section {
    background-color: #3e342b;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: #fff 0 0 5px;
    background: linear-gradient(135deg , #1b1b1b, #363636 , #504f4f, #6e6d6d);
    background-size: 300% 300%;
    animation: spreadGradient 12s infinite linear;
}

.Portfolio {
    position: relative;
    text-decoration: none; 
    color: white; 
    padding: 0 10px;
    border-radius: 5px;
    overflow: hidden; 
    text-decoration: underline;
    background: linear-gradient(135deg, #0c0729,#4f3161, #291435 ,#7d5296 );
    background-size: 300% 300%;
    animation: spreadGradient 12s infinite linear;
}

.Portfolio:hover {
    position: relative;
    display: inline-block;
    animation: tada 1s ease-in-out;
}

@keyframes tada {
    0% { transform: scale(1); }
    10%, 20% { transform: scale(1) rotate(-5deg); }
    30%, 50%, 70%, 90% { transform: scale(1) rotate(5deg); }
    40%, 60%, 80% { transform: scale(1) rotate(-5deg); }
    100% { transform: scale(1); }
}

/* Rodapé */
footer {
    background: linear-gradient(135deg , #000000, #1b1b1b, #363636 );
    background-size: 300% 300%;
    animation: spreadGradient 12s infinite linear;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
}

ul li {
    display: inline-block;
}

ul li a {
    color: black;
    font-size: larger;
    padding: 10px 20px;
    border-radius: 5px;
    color: #101010;
    background-color: #f0f0f0;
}

ul li a:hover {
    background-color: #000000;
    color: white;
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 15px;
}

@keyframes spreadGradient {
    0% {
        background-position: 0% 0%;
    }
    12.5% {
        background-position: 25% 0%;
    }
    25% {
        background-position: 50% 25%;
    }
    38% {
        background-position: 75% 50%;
    }
    50% {
        background-position: 100% 75%;
    }
    62% {
        background-position: 75% 100%;
    }
    75% {
        background-position: 50% 75%;
    }
    87% {
        background-position: 25% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}


@media (max-width: 768px) {
    .menu-button {
        top: 15px;
        left: 20px;
    }

    aside {
        width: 100%; /* Largura total em telas pequenas */
        left: -100%; /* Menu começa escondido */
    }

    .show-menu {
        left: 0;
    }
}
/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Coloca as colunas em uma única linha */
    }

    .search {
        width: 90%; /* Ajusta a largura da barra de pesquisa */
    }

    .menu-button {
        top: 10px;
        left: 15px;
    }

    aside {
        width: 80%;
        left: -100%; /* Menu começa escondido */
    }

    .show-menu {
        left: 0;
    }


/* Para telas muito pequenas, como celulares */
@media (max-width: 480px) {
    header {
        padding: 10px 0;
    }

    .search {
        width: 90%;
        font-size: 14px;
    }

    footer ul {
        flex-direction: column;
    }
}
    }